## Default values for federatorai-demo.
## This is a YAML-formatted file.
## Declare variables to be passed into your templates.
##
## Set default values
##
workload:
  ## duration of the workload (in minutes)
  duration: 60
  ## request rate
  rate: 6000

## Mostly, the following should not be changed
manager:
  image: quay.io/prophetstor/federatorai-demo-manager
  tag: latest
  pullPolicy: IfNotPresent

nginx:
  image: docker.io/nginx
  tag: 1.16.0
  pullPolicy: IfNotPresent
